/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

/* Général */

button:focus{
	outline: 			none;
}

.btn, .button-secondary, .wpcf7-submit, .search-submit, .download-button, .submit .button-primary, .tribe-events-button{
	@include 			btn-style;
}

.wpcf7-submit{
	float: 				right;
}

.btn:hover, .btn:focus, .btn:active, .download-button, .wpcf7-submit{
	outline: none;
	-webkit-appearance: none;
	box-shadow: 		none;
	}
select{
		outline: none;
		-webkit-appearance: none;
}

.inner-btn{
	@media (max-width: 899px) {
		width: 100%;
	}
}

input.acf-button{
  float: right;
}

/*Bootstrap button*/

.btn-danger {
    color: #fff!important;
    background-color: #dc3545!important;
    border-color: #dc3545!important;
    float: right;
    outline: none!important;
    &:hover, &:focus{
      background-color: #bd2836!important;
    }
}

.is-grey{
  background-color: #e8e8e8!important;
  float: right;
  color:#a4a4a4!important;
  &:hover{
      background-color: #e8e8e8!important;
      color:#a4a4a4!important;
      cursor: initial;
  }
}


/* Button : WP User Avatar */

button#wpua-remove-existing, button#wpua-undo-existing, button#wpua-add-existing, #wpua-remove-button-existing {
    outline: 			none;
    width: 				100%;

}

button#wpua-remove-existing {
    background: 		none;
    border: 			none;
    color: 				white;
    outline: 			none;

}

#wpua-add-existing{
	margin-bottom: 		10px;
}

.ct-shortcuts{
	.btn, #wpua-remove-existing{
		background: 	$grey;
		color: 			$dark-grey!important;
	}

}


/* Close button for sidebar responsive */

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  z-index:9999;
  display: none;

}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
