/*--------------------------------------------------------------
# Navigation prinicipale
--------------------------------------------------------------*/

nav {
    background-color:               white;
    z-index:                        9999;
    width:                          $nav-width;
    height:                         100%;
    float:                          left;
    box-shadow:                     0px -9px 38px 0px rgba(0, 0, 0, 0.10);
    ul {
        list-style-type:            none;
        padding:                    0;
        margin:                     0;
        text-align:                 center;
        text-transform:             uppercase;
        font-size:                  0.7em;
        font-weight:                400;
        position:                   relative;
        height:                     100%;
        width:                      80px;
    }
    ul.sub-menu li {
        a:hover{
            background-image: inherit;
        }
    }
    ul.sub-menu{
        li {
            a {
                background:         none;
                display:            flex;
                align-items:        center;
                text-decoration:    none;
                color:              $grey-menu;
                box-shadow:         none;
                justify-content:    center;
                &:hover{
                    color:          $orange;
                }
            }
        }
    }
    li {
        a:first-child {
            span.fix-menu {
                color:              $grey-menu;
                position:           absolute;
                bottom:             11px;
                left:               0;
                right:              0;
                text-decoration:    none;
                transition:         0.5s;
                &:hover {
                    text-decoration:none;
                    color:          $orange-hover;
                }
            }
        }
    }
    li.home a {
        background-image:           url(../img/home.svg);
        &:hover {
            background-image:       url(../img/home-hover.svg);
            span {
                  color:            $orange-hover;
            }
        }
    }
    li.galerie a {
        margin:                     0 auto;
        background-image:           url(../img/camera.svg);
        &:hover {
            background-image:       url(../img/camera-hover.svg);
            span {
                  color:            $orange-hover;
            }
        }
    }
    li.chat a {
        background-image:           url(../img/chat.svg);
        &:hover {
            background-image:       url(../img/chat-hover.svg);
            span {
                  color:            $orange-hover;
            }
        }
    }
    li.cce a {
        background-image:           url(../img/cce.svg);
        &:hover {
            background-image:       url(../img/cce-hover.svg);
            span {
                  color:            $orange-hover;
            }
        }
    }
    li.personnel a {
        background-image:           url(../img/personnel.svg);
        &:hover {
            background-image:       url(../img/personnel-hover.svg);
            span {
                  color:            $orange-hover;
            }
        }
    }
    li.rd a {
        background-image:           url(../img/rd.svg);
        &:hover {
            background-image:       url(../img/rd-hover.svg);
            span {
                  color:            $orange-hover;
            }
        }
    }
    li.rh a {
        background-image:           url(../img/rh.svg);
        &:hover {
            background-image:       url(../img/rh-hover.svg);
            span {
                  color:            $orange-hover;
            }
        }
    }
    li.tool a {
        background-image:           url(../img/tool.svg);
        &:hover {
            background-image:       url(../img/tool-hover.svg);
            span {
                  color:            $orange-hover;
            }
        }
    }
    li.user a {
        background-image:           url(../img/user.svg);
        &:hover {
            background-image:       url(../img/user-hover.svg);
            span {
                  color:            $orange-hover;
            }
        }
    }
    li.news a {
        background-image:           url(../img/news.svg);
        &:hover {
            background-image:       url(../img/news-hover.svg);
            span {
                  color:            $orange-hover;
            }
        }
    }
    li.help a {
        background-image:           url(../img/help.svg);
        &:hover {
            background-image:       url(../img/help-hover.svg);
            span {
                  color:            $orange-hover;
            }
        }
    }
    li.syndicat a {
        background-image:           url(../img/syndicat.svg);
        &:hover {
            background-image:       url(../img/syndicat-hover.svg);
            span {
                  color:            $orange-hover;
            }
        }
    }
    a {
        transition:                 0.5s;
        display:                    block;
        height:                     80px;
        position:                   relative;
        background-size:            30px 30px;
        background-repeat:          no-repeat;
        background-position:        center 15px;
        box-shadow:                 0px -9px 38px 0px rgba(0, 0, 0, 0.06);
        &:hover {
            cursor:                 pointer;
            a {
                color:              $orange-hover;
            }
        }
    }
}
nav.hd-menu {
    height:                         100%;
    bottom:                         0;
    top:                            0;
    position:                       sticky;
    /*Mobile*/
    @media (max-width: 576px) {
        display:                    none;
        position:                   absolute;
        overflow-y:                 scroll;
    }
    @media (min-width: 577px) {
        display:                    block!important;
    }
}
.nav-need-help .pusher {
    transform:                      translateX($nav-width);
    overflow-y:                     hidden;
}
/* .sub-nav {
    background-color: #ffffff;
    width: 310px;
    height: 100%;
    z-index: 666;
    position: absolute;
    top: 0;
    left: 80px;
    bottom: 0;
    box-shadow: 0px -9px 38px 0px rgba(0, 0, 0, 0.14);
}*/

.sub-menu {
    display:                        none;
    background-color:               #ffffff;
    height:                         100%;
    z-index:                        666;
    position:                       absolute;
    top:                            0;
    left:                           80px;
    bottom:                         0;
    /*box-shadow: 0px -9px 38px 0px rgba(0, 0, 0, 0.14);*/
    li {
        width:                      140px;
        box-shadow:                 0px -9px 38px 0px rgba(0, 0, 0, 0.06);
        display:                    flex;
        align-items:                center;
        justify-content:            center;
        font-size:                  11px;
    }
    a {
        position:                   initial;
    }
}
.sub-sub ul {
    display:                        none!important;
}
.dropdown:hover .sub-menu {
    display:                        block;
}
.dropdown li {
    background-color:               white;
}
#primary-menu {
    margin-top:                     0;
    /*    overflow-y: auto;
*/
}



/*--------------------------------------------------------------
# Menus de la boîte raccourcis
--------------------------------------------------------------*/

#menu-rh, #menu-cce, #menu-syndicat {
    padding-left:                   0;
    display:                        flex;
    li.btn-add-forma a:before, 
    li.btn-add-offer a:before, 
    li.btn-add-advantage a:before, 
    li.btn-add-pv a:before {
        background-image:           url(../img/plus.svg);
    }
    li.btn-deal-forma, 
    li.btn-deal-booking, 
    li.btn-list-advantage, 
    li.btn-list-pv, 
    li.btn-show-cfdt, 
    li.btn-show-sud {
        margin-top:                 30px;
    }
    li.btn-add-forma, 
    li.btn-show-cgt {
        @media (max-width: 1199px) {
            margin-top:             30px;
        }
    }
    li.btn-add-newsletter a:before {
        background-image:           url(../img/newsletter.svg);
    }
    li.btn-show-cgt a:before {
        background-image:           url(../img/cgt.png);
    }
    li.btn-show-cfdt a:before {
        background-image:           url(../img/cfdt.png);
    }
    li.btn-show-sud a:before {
        background-image:           url(../img/sud.png);
    }
    li.btn-list-pv a:before {
        background-image:           url(../img/booking.svg);
    }
    li.btn-list-advantage a:before {
        background-image:           url(../img/happy.svg);
    }
    li.btn-deal-forma a:before {
        background-image:           url(../img/forma.svg);
    }
    li.btn-deal-booking a:before {
        background-image:           url(../img/booking.svg);
    }
    li {
        @include                    zoom-on-hover;
        list-style-type:            none;
        text-align:                 center;
        background-color:           $orange;
        border-radius:              10px;
        height:                     150px;
        display:                    flex;
        align-items:                center;
        justify-content:            center;
        transition:                 background-color 0.3s, transform 0.3s;
        &:hover {
            background-color:       $dark-orange;
        }
        a {
            width:                  90%;
            color:                  white!important;
            font-size:              12px;
            font-weight:            800;
            text-transform:         uppercase;
            &:hover {
                text-decoration:    none;
            }
            &:before {
                content:            '';
                width:              100px;
                height:             60px;
                margin-bottom:      10px;
                display:            block;
                background-size:    40%;
                background-position: center 0px;
                background-repeat:  no-repeat;
                margin:             0 auto;
            }
        }
    }
}