.pagination {
    display:                block;
    margin:                 0 auto;
    padding-bottom:         30px;
    .next, .prev {
        display:            none;
    }
    a:hover {
        text-decoration:    none;
    }
}

.page-numbers {
    background-color:       #f9f7f7;
    padding:                20px;
    border-radius:          80px;
    display:                inline-block;
    width:                  60px;
    height:                 60px;
    text-align:             center;
    font-weight:            600;
    font-size:              20px;
    line-height:            20px;
    transition:             background-color .4s, transform .4s!important;
    @include zoom-on-hover;
    &:hover {
        background-color:   #efeded;
    }
}