/*--------------------------------------------------------------
# Sidebar 
--------------------------------------------------------------*/

#secondary {
    @media (max-width: 450px) {
        width:                  100%;
    }
    display:                    none;
    position:                   fixed;
    right:                      0;
    top:                        0;
    bottom:                     0;
    width:                      450px;
    background-color:           #f2efef;
    padding:                    40px;
    overflow-y:                 scroll;
    box-shadow:                 0px 0px 131px 0px rgba(0, 0, 0, 0.1);
    z-index:                    600;
    nav {
        background-color:       inherit;
        box-shadow:             none;
    }
    .text_div {
        text-transform:         none;
        text-align:             justify;
    }
}
.rfw_list {
    li {
        box-shadow:             none;
        height:                 auto;
    }
    a {
        position:               inherit;
        box-shadow:             inherit;
    }
}
.sidebar-enabled .pusher {
    transform:                  translateX($sidebar-width);
    overflow-y:                 hidden;
}
.widget-title:before {
    content:                    "";
    background:                 url(../img/like.svg) no-repeat;
    background-position:        4px 2px;
    text-align:                 center;
    display:                    block;
    height:                     50px;
    width:                      50px;
    background-size:            30px 30px;
    float:                      left;
    margin-bottom:              10px;
}
.widget-title {
    color:                      $grey3;
    margin-bottom:              45px;
}
.rfw_list.rfw_dock li {
    margin:                     0;
}
.sidebar-btn {
    z-index:                    700;
    position:                   absolute;
    top:                        -80px;
    background:                 url(../img/arrow.svg) no-repeat;
    height:                     40px;
    width:                      40px;
    background-size:            40px;
    right:                      20px;
    transition:                 transform 0.3s;
    transform:                  rotate(-180deg);
    &:hover {
        cursor:                 pointer;
    }
}
.sidebar-btn.triggered, .close.triggered {
    transform:                  rotate(0deg);
    @media (max-width: 561px) {
        display:                none;
    }
}