ol.comment-list {
    list-style-type: 				none;
    padding-left: 					0;
    margin-bottom: 					0;
    li {
    	display: 					flex;
		justify-content: 			space-around;
		img {
		   	border-radius: 			100px;
	    }
    	article {
		    background-color: 		$lowgrey;
		    padding: 				30px;
		    border-radius: 			10px;
		    margin-top: 			0px;
		    margin-bottom: 			30px;
		    width: 					80%;
		    position: 				relative;
		    &:before{
			    content: 			'';
			    display: 			block;
			    width: 				0px;
			    height: 			0;
			    border-style: 		solid;
			    border-width: 		20px 30px 20px 0;
			    border-color: 		transparent $lowgrey transparent transparent;
			    position: 			absolute;
			    left: 				-30px;
			    top: 				20px;
		    }
		    time{
		    	font-size: 			12px;
		    	margin-bottom: 		10px;
		    }
		    p {
		    	margin-top: 		10px;
		    	margin-bottom: 		0;
		    }
		    .author-name {
		    	font-weight: 		400;
		    	text-transform: 	uppercase;
		    	color: 				#858585;
		    	font-size: 			16px;
		    }
    	}
    }
}
.comments-area {
	textarea {
	    overflow: 					auto;
	    resize: 					vertical;
	    border: 					1px solid #e8e8e8;
	    background-color: 			#fcfcfc;
	    border-radius: 				10px;
	    outline: 					none;
	    padding: 					15px;
	    width: 						100%;
	}
	.submit{
		float: 						right;
	}
}

