/*--------------------------------------------------------------
# Make youtube player responsive
--------------------------------------------------------------*/

.embedresize {
margin: 						auto;
}

.embedresize div {
position: 						relative;
height: 						0;
padding-bottom: 				56.25%;
}

.embedresize iframe {
position: 						absolute;
top: 							0;
left: 							0;
width: 							100%;
height: 						100%;
}


/*--------------------------------------------------------------
# Make youtube player responsive for articles (initiatives)
--------------------------------------------------------------*/

.videoArticle {
    position:                   relative;
    padding-bottom:             56.25%; /* 16:9 */
    padding-top:                25px;
    height:                     0;
}
.videoArticle iframe {
    position:                   absolute;
    top:                        0;
    left:                       0;
    width:                      100%;
    height:                     100%;
}

/*--------------------------------------------------------------
# Make video player responsive for Video single page
--------------------------------------------------------------*/

.video-container {
    overflow: 					hidden;
    padding-bottom: 			56.25%;
    position: 					relative;
    height: 					0;
    border-top-left-radius: 	16px;
    border-top-right-radius: 	16px;
}
.video-container iframe {
    left: 						0;
    top: 						0;
    height: 					100%;
    width: 						100%;
    position: 					absolute;
}

.intro #intro .embedresize iframe,
.exit .quizz .embedresize iframe,
.alreadyplayed #intro .embedresize iframe, 
.identityset #intro .embedresize iframe, 
#notabene .embedresize iframe, 
#message_intro .embedresize iframe, 
.fancybox_body .embedresize iframe, 
#comments .embedresize iframe, 
#description .embedresize iframe, 
.alreadyplayed .embedresize iframe, 
#adserver .embedresize iframe {
max-width: 						none !important;
}