header{
	background-image: 				url(../img/background-banner.jpg);
	background-size:  				cover;
	background-repeat: 				no-repeat;
	@media (max-width: 1400px) { 
		background-position-x: 		center;
		background-size: 			inherit;
	}

	color: 							white;
	padding: 						150px;
	p{
		font-size: 					25px;
	}
	h1{
		margin-bottom: 				0;
		a, a:hover{
			text-decoration: none;
			color: white;

		}
	}
	.btn-danger{
		float: inherit;
		margin-left:10px;
	}
	.hd-right{
		text-align: 				right;
		.hd-logo{
			height: 				80px;
		}
	}
	.current-user-avatar{
		img{
			border-radius: 150px;
			border: 4px solid white;
			width: 120px;
		    height: 120px;
		    margin: 0 auto;
		    display: block;
		    position: relative;
		    @media (max-width:1199px){
		    	width: 120px;
		    }
		    @media (max-width:991px){
		    	margin-bottom: 40px;
		    	margin-top: 20px;
		    }
		}
	}
	.avatar-onhover{
		display: none;
		width: 120px;
		height: 120px;
		margin: 0 auto;
	    border-radius: 170px;
	    background-color: #f8a4608f;
	    position: absolute;
	    border: 4px solid white;
	    top: 50%;
	    transform: translateY(-50%);
	    right: 0;
	    left: 0;
	    cursor: pointer;
	    .edit-profile{
	    	width: 32px;
	    	height: 32px;
		    border: 0;
		    top: 50%;
		    transform: translateY(-50%);
		    left: 0;
		    right: 0;
		    border-radius: 0;

	    }
	}
	@media (max-width: 991px) {
		display: 					flex;
		flex-direction: 			column-reverse;
		.hd-right{
			margin-bottom: 30px;
			text-align: center;
			margin: 0 auto;
		}
		.hd-left{
			text-align: center;
			margin: 0 auto;
			margin-top: 20px;
		}
	}
	.is-mobile{
		@media (min-width:577px){
			display: none;
		}
		&:hover{
			cursor: pointer;
		}
	    position: absolute;
	    top: 70px;
	    left: 60px;
	    z-index: 666;
		div {
		  width: 35px;
		  height: 4px;
		  background-color: white;
		  border-radius: 60px;
		  margin: 6px 0;
		}
	}
}
header.row{
		align-items: center;
	}