/*--------------------------------------------------------------
# Inner sidebar
--------------------------------------------------------------*/

.ct-subpages{
	ul{
		li{
		margin-bottom: 		5px;
		}
	}
}