	#exampleModalLong, #helpModal, .tutorial {
		z-index: 							2000;
		p {
			font-weight: 					600;
			color: 							$grey3;
			margin-bottom: 					35px;
		}
		label{
			margin-bottom: 					12px;
		}
		form.wpcf7-form {
		    width: 							95%;
		    margin: 						0 auto;
		}
		.modal-edit .modal-dialog {
			max-width: 					80%;
		}
		.modal-header {
			border-bottom: 				none;
		}
		.modal-footer {
			border-top: 				none;
		}
		.modal-dialog {
			@media (min-width: 576px){
				max-width: 				800px;
			}
		}
		.modal-content {
			border: 					none;
			border-radius: 				9px;
		}
		select {
			width: 						100%;
		}
	}

.tutorial {
	video {
		width: 							100%;
	}
	.modal-header {
		display: 						block;
		text-align: 					center;
	}
	.modal-content {
		text-align: 					justify;
	}
	.modal-body {
		padding: 						10px 50px 0px 50px;
	}
}

#bienvenue1 {
	img{
		width: 100%;
		height: auto;
	}
	.row .left{
		display: flex;
		align-items: center;
	}
}

.modal-backdrop.fade {
    filter: 							alpha(opacity=.7);
    opacity: 							.7;
}