/*--------------------------------------------------------------
# Events list
--------------------------------------------------------------*/

.style-3 {
	.ect-list-date {
    width: 110px!important; 
	}
}
.style-3-readmore{
	display: none!important;
}
.ect-clslist-event-info, .ect-list-date {
	background: none!important;
	p, h1, h2, h3, a, span{
		color: $dark-grey!important;
	}
	
}

#ect-events-list-content,#list-wrp,.ect-simple-event{
	margin: 0!important;
}