@mixin btn-style{
	background-color: $orange!important;
	padding: 1px 15px 1px 15px;
	border-radius: 6px;
	border: none!important;
	transition: background-color 0.3s;
	background-image: none;
	display: inline-block;
	color: white!important;
	outline: none!important;
	font-weight: bold!important;
	line-height: 1.5!important;
	a{
		color: white!important;
	}
	&:hover{
		color: white!important;
		cursor: pointer;
	}
	a:hover{
	text-decoration: none;
	}
	&:hover, &:focus{
		background-color: $dark-orange!important;
	}
}

@mixin shadow-infoacsea{
	box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.120);
}

@mixin zoom-on-hover{
			transition: 	   transform 0.3s;
			&:hover{
				transform: 	   scale(1.05);
			}
}