/*--------------------------------------------------------------
# Page 404
--------------------------------------------------------------*/

.error404 {
	background: 				#ececec!important;
	font-weight: 				700;
	color: 						#CACACA;
	#error {
		margin: 				0 auto;
		display: 				block;
		position: 				absolute;
		transform: 				translate(-50%, -60%);
		top: 					50%;
		left: 					50%;
		width: 					100%;
	}
	header {
		display: 				none!important;
	}
	nav.hd-menu {
		display: 				none!important;
	}
	.content {
		margin-top: 			inherit;
		display: 				flex;
		align-items: 			center;
		justify-content: 		center;
	}
	#page {
		display: 				flex;
		align-items: 			center;
		justify-content: 		center;
		height: 				100%;
		text-align: 			center;
	}
	.message {
		display: 				inline-block;
		text-align: 			center;
	}
	img {
		margin-bottom: 			25px;
	}
}