/*--------------------------------------------------------------
# Page : Soumettre un article
--------------------------------------------------------------*/

.page-template-submit-articles {
	.entry-header {
		display: 					none;
	}
	.ct-shortcuts {
		ul {
			padding-left: 			0;
			list-style-type: 		none;
		}
	}
	#primary {
		width: 						100%;
		p {
			margin-bottom: 			40px;
		}
	}
	p {
		overflow: 					auto;
	}
	span.i {
		margin-bottom: 				10px;
	}
	label {
		width: 						100%;
		margin-bottom: 				10px;
	}
}
.page-template-list-articles, 
.category {
	.ct-container {
		background: 				inherit!important;
		box-shadow: 				inherit;
	}
}
.single-post {
	.post-navigation {
		display: 					none;
	}
	h1 {
		color: 						white;
		font-size: 					2rem;
	}
	.entry-img h1 {
		text-align: 				center;
		@media (max-width: 720px) {
			padding: 				30px;
		}
	}
	.ct-container {
		padding: 					0;
		background: 				none;
		box-shadow: 				none;
	}
	.entry-img {
		width: 						100%;
		height: 					500px;
		border-top-left-radius: 	15px;
		border-top-right-radius: 	15px;
		display: 					flex;
		justify-content: 			center;
		align-items: 				center;
		flex-direction: 			column;
		a {
			color: 					white;
		}
		ul {
			list-style-type: 		none;
			padding: 				0;
			margin-bottom: 			0;
		}
		span {
			color: 					white;
		}
	}
	.entry-content {
		columns: 					2;
		column-gap: 				60px;
		text-align: 				justify;
		border-bottom-left-radius: 	15px;
		border-bottom-right-radius: 15px;
		background: 				white;
		box-shadow: 				0px -13px 158.86px 10.14px rgba(0, 0, 0, 0.05);
		@media (max-width: 720px) {
			columns: 				1;
			column-gap: 			0;
		}
	}
	.entry-content, 
	.comments-area {
		padding: 					50px 60px 50px 60px;
		.avatar {
			width: 					70px;
			height: 				70px;
		}
	}
	.comment-list {
		list-style-type: 			none;
	}
}
.page-template-list-articles, 
.category {
	h2 {
		font-size: 					33px;
	}
	.category-title {
		text-align: 				right;
		margin-bottom: 				0;
	}
	.cat-title {
		color: 						#fcbc89;
		text-align: 				center;
		/*padding-right: 			20px;*/
		font-size: 					20px;
		margin-bottom: 				12px;
		mix-blend-mode: 			soft-light;
	}
	.content {
		margin-top: 				-80px;
	}
	.ct-featured {
		padding: 					0;
		display: 					flex;
		align-items: 				center;
		flex-direction: 			column;
		.btn {
			float: 					right;
			a {
				color: 				white!important;
			}
		}
	}
	.featured-img {
		width: 						30%;
		height: 					400px;
		border-top-left-radius: 	15px;
		border-bottom-left-radius: 	15px;
		img {
			object-fit: 			cover;
			height: 				400px;
			width: 					100%;
			border-top-left-radius: 15px;
			border-bottom-left-radius: 			15px;
			@media (max-width: 830px) {
				width: 				100%;
				border-bottom-left-radius: 		0;
				border-top-right-radius: 		15px;
				height: 			250px;
			}
		}
		@media (max-width: 830px) {
			width: 					100%;
			border-bottom-left-radius: 	0;
			border-top-right-radius: 	15px;
			height: 					250px;
		}
	}
	.featured-content {
		padding: 					50px 60px 50px 60px;
		width: 						70%;
		@media (max-width: 830px) {
			width:					100%;
		}
	}
	.featured-post {
		margin-bottom: 				40px;
		display: 					flex;
		align-items: 				center;
		box-shadow: 				0px -13px 158.86px 10.14px rgba(0, 0, 0, 0.05);
		background-color: 			white;
		border-radius: 				15px;
		@media (max-width: 830px) {
			flex-direction: 		column;
		}
	}
	a:hover {
		text-decoration: 			none;
	}
}

.category-actualites {
	.content {
		margin-top: 				-50px;
	}
}

/*--------------------------------------------------------------
# Page : Initiatives
--------------------------------------------------------------*/

.category-initiatives {
	.ct-init {
		background-color: 			white;
		border-radius: 				15px;
		padding: 					50px;
		.breadcrumb {
			margin-top: 			inherit;
			margin-bottom: 			40px;
		}
	}
	.featured-post {
		padding-left: 				0;
		padding-right: 				0;
		background-color: 			inherit;
		box-shadow: 				inherit;
		margin-bottom: 				0;
		@media (max-width: 1199px){
			margin-top: 			30px;
		}
		&:first-child{
			@media (max-width: 1199px){
				margin-top: 		10px;
			}
		}
	}
	.featured-img {
		@include 					zoom-on-hover;
		width: 						100%;
		border-radius: 				15px;
		img {
			border-radius: 			15px;
		}
	}
	.ct-featured {
		flex-direction: 			row;
		margin-bottom: 				0;
		h2 {
			width: 					70%;
			text-align: 			center;
		}
	}
	.layer {
		background-color: 			rgba(0, 0, 0, 0.55);
		height: 					100%;
		width: 						100%;
		border-radius: 				15px;
		transition: 				background-color 0.3s;
		a, 
		a:hover {
			color: 					white;
			font-weight: 			300;
		}
	}
	.layer:hover {
		background-color: 			rgba(0, 0, 0, 0.10);
	}
}

/*--------------------------------------------------------------
# Page : Revue de presse
--------------------------------------------------------------*/

.category-revues-de-presse {
	.ct-container {
		.row {
			padding-right: 			15px!important;
			padding-left: 			15px!important;
		}
	}
	.layer {
		position: 					absolute;
		height: 					100%;
		width: 						100%;
		border-radius: 				15px;
		transition: 				background-color 0.5s;
		background-color: 			rgba(0, 0, 0, 0);
		&:hover {
			background-color: 		rgba(0, 0, 0, 0.45);
			.rdp-title {
				display: 			block;
			}
		}
	}
	.rdp-title {
		text-align: 				center;
		color: 						white;
		display: 					none;
	}
	.meta-info {
		margin-top: 				40px;
		@media (max-width: 1199px) {
			margin-top: 			0;
			margin-bottom: 			40px;
		}
	}
	.breadcrumb {
		margin-top: 				0;
		margin-bottom: 				50px;
	}
	.featured-post {
		@include 					zoom-on-hover;
		height: 					200px;
		padding-left: 				0;
		padding-right: 				0;
		position: 					relative;
	}
	.featured-img {
		width: 						100%;
		height: 					inherit;
		img {
			height: 				100%;
			width: 					100%;
			border-radius: 			15px;
		}
	}
	.ct-rdp {
		background-color: 			white;
		border-radius: 				15px;
		padding: 					50px;
	}
	.ct-featured {
		flex-direction: 			row;
	}
	a {
		width: 						100%;
	}
}


/*--------------------------------------------------------------
# Page : Liste des infos ACSEA
--------------------------------------------------------------*/

.page-template-list-infoacsea {
	.infoacsea-article img {
		filter: 					grayscale(0);
		transition: 				filter 0.5s;
	}
	.infoacsea-article:hover {
		img {
			filter: 				grayscale(1);
		}
	}
	.box-meta {
		position: 					absolute;
		top: 						50%;
		left: 						50%;
		transform: 					translate(-50%, -50%);
		display: 					none;
		text-align: 				center;
		h3, a {
			color: 					white!important;
			font-size: 				40px;
		}
	}
}