/*--------------------------------------------------------------
# Single établissement
--------------------------------------------------------------*/

.etablissement-template {
	.ct-meta {
		padding: 							0!important;
	}
	.ct-info {
		padding: 							50px 60px 50px 60px;
	}
	.ct-img {
		border-top-left-radius: 			15px;
		border-top-right-radius: 			15px;
	}
	img.ets {
		width: 								100%;
		border-top-left-radius: 			15px;
		border-top-right-radius: 			15px;
	}
	.acf-map {
		border-radius: 						10px;
		margin: 							0!important;
		width: 								100%;
		height: 							700px;
		border: 							#ccc solid 1px;
		margin: 							20px 0;
	}
	/* fixes potential theme css conflict */
	.acf-map img {
		max-width: 							inherit !important;
	}
	#primary {
		width: 								100%;
	}
	.ct-ets {
		a {
			text-decoration: 				none;
			font-weight: 					600;
		}
	}
	.ct-mapzone {
		background: 						none;
		box-shadow: 						none;
		.breadcrumb {
			margin-top: 					0;
		}
	}
	.btn.padding10-20 {
		margin-top: 						15px;
	}
	.acf-tab-button {
		display: 							none;
	}



/*--------------------------------------------------------------
# Soumettre un changement
--------------------------------------------------------------*/
	.ets-edit-box form input, 
	.ets-edit-box form textarea, 
	.ets-edit-box form select {
		margin-top: 						10px;
	}
	.ets-edit-box form select {
		width: 								100%;
	}
	.ets-edit-box .wpcf7-submit {
		margin-bottom: 						20px;
	}
	.ets-edit-box .wpcf7-response-output {
		overflow: 							auto;
		width: 								100%;
	}
	.acf-field-5c92457756909, 
	.acf-field-5c46fe1a4e7a4 {
		overflow: 							auto;
		li {
			list-style-type: 				none;
			label {
				font-weight: 				400;
			}
		}
		label {
			margin-bottom: 					7px;
			input {
				margin-right: 				10px;
			}
		}
		.acf-label, 
		.acf-input, 
		.acf-checkbox-list, li {
			overflow: 						auto;
		}
	}
	.acf-field-5c471361ce95a, 
	.acf-field-5c47132e0f524 {
		label {
			margin-bottom: 					inherit;
		}
		ul, 
		li {
			overflow: 						auto;
		}
	}
	.acf-field-time-picker, 
	.acf-field-5c45821cbf3e2, 
	.acf-tab-wrap, 
	.ets-edit-box {
		display: 							none;
	}
	.acf-form-submit {
		overflow: 							auto;
	}
}
.archive, 
.search {
	.ct-directory h2 {
		float: 								left;
	}
	.ct-title {
		overflow: 							auto;
	}
	thead tr:hover {
		background-color: 					inherit;
	}
}

/*.search{
	label{
		width: 88%;
	}
}*/

/*--------------------------------------------------------------
# Page : 

		- Annuaire (liste des établissements
		- Résultat de la recherche
		- Établissement du pôle sélectionné
--------------------------------------------------------------*/

.page-template-annuaire, 
.search-results, 
.tax-pole {
	.an-filters {
		display: 							flex;
		justify-content: 					space-around;
		border-bottom: 						1px solid #f0eeee;
		@media (max-width: 959px) {
			flex-direction: 				column;
		}
		div {
			width: 							48%;
			@media (max-width: 959px) {
				width: 						100%;
			}
			&:last-child {
				margin: 					30px 0;
			}
		}
	}
	h4 {
		font-size: 							15px;
		font-weight: 						700;
		margin-bottom: 						20px;
	}
	ul {
		list-style-type: 					none;
		padding-left: 						0;
	}
	input[type="checkbox"] {
		margin-right: 						10px;
	}
	.an-search {
		border-radius: 						10px;
	}
	th:hover {
		cursor: 							pointer;
	}
	tr:hover {
		/*background-color: 				inherit!important;*/
	}
	table {
		margin-top: 						10px;
		a {
			color: 							$dark-grey!important;
			text-decoration: 				none;
		}
	}
	.ct-title {
		margin-bottom: 						0!important;
		/*display: 							flex;*/
    	/*justify-content: 					space-between;*/
		h2, .searchbar-ets {
			width: 							50%;
			@media(max-width: 980px) {
				width: 						100%;
			}
		}
		h2 {
			@media(max-width: 980px) {
				text-align: 				center;
				margin-bottom: 				20px;
			}
		}
	}
	.ct-directory {
		.row {
			padding-right: 					0;
			padding-left: 					0;
		}
	}
	.entry-header {
		display: 							none;
	}
	table, 
	#primary {
		width: 								100%;
	}
	tbody, 
	table {
		border: 							0;
	}
	tbody:before {
		line-height: 						0px;
		content: 							"_";
		color: 								white;
		display: 							block;
	}
	thead {
		tr {
			background-color: 				white;
			color: 							#858383;
		}
		th {
			padding-bottom: 				0!important;
		}
	}
	table {
		border-collapse: 					collapse;
	}
	th, 
	td {
		padding: 							15px;
	}
	tr {
		background-color: 					#f8f8f8;
		transition: 						background-color 0.3s;
		&:hover {
			background-color: 				darken(#f8f8f8, 3);
		}
	}
	td:first-child {
		-moz-border-radius: 				8px 0 0 8px;
		-webkit-border-radius: 				8px 0 0 8px;
	}
	td:last-child {
		-moz-border-radius: 				0 8px 8px 0;
		-webkit-border-radius: 				0 8px 8px 0;
	}
	.gfg {
		border-collapse: 					separate;
		border-spacing: 					0 15px;
	}
	tr.protection-enfance-famille {
		td.an-pole {
			background-color: 				$pef;
		}
	}
	tr.handicap-autonomie-dependance {
		td.an-pole {
			background-color: 				$had;
		}
	}
	tr.prevention-et-lutte-contre-les-exclusions {
		td.an-pole {
			background-color: 				$plce;
		}
	}
	tr.sante {
		td.an-pole {
			background-color: 				$sante;
		}
	}
	.search-form {
		[type=submit] {
			padding: 						15px 30px 15px 30px !important;
			border: 						none;
		}
	}
	form.search-form {
		float: 								right;
	}
}
.archive, 
.search {
	.searchbar-ets {
		overflow: 							auto;
		float: 								right;
		form {
			width: 							100%;
		}
	}
	/*.search-form label{
		width: 								88%!important;
	}*/
	.search-form [type=submit] {
		width: 								inherit;
	}
}