/*--------------------------------------------------------------
# Page : Liste des avantages et services
--------------------------------------------------------------*/

.page-template-avantages-services {
	.breadcrumb {
		margin-top: 			0;
	}
	.ct-avantages .is-Service, 
	.ct-services .is-Avantage {
		display: 				none;
	}
	.box-meta {
		padding: 				30px;
		height: 				350px;
		flex-direction: 		column;
	}
}