/*--------------------------------------------------------------
# Page : Formulaire côté user 
--------------------------------------------------------------*/

.page-template-card {
	form#acf-form {
		columns: 						1;
		@media (max-width: 959px) {
			columns: 					1;
		}
	}
	.acf-fields>.acf-field {
		border-top: 					0;
	}
	.btn {
		margin-top: 					20px;
	}
	.ct-inner-img {
		position: 						relative;
	}
	.status-card {
		position: 						absolute;
		top: 							0;
		right: 							20px;
	}
	.status-card.yes {
		background-color: 				#52c06b!important;
	}
	.status-card.no {
		background-color: 				#dc3545!important;
	}
	.acf-fields>.acf-field {
		margin-top: 					20px;
	}
	.acf-fields>.acf-field:nth-child(1) {
		margin-top: 					0;
	}
	.ask-form {
		[type=submit] {
			border-radius: 				10px;
			float: 						right;
		}
		.acf-field-radio, .validation-radio {
			display: 					none;
		}
	}
	.message-ok {
		margin-top: 					20px;
		p {
			margin-bottom: 				0;
		}
	}
	.acf-input-wrap {
		width: 							100%;
	}
	.acf-radio-list {
		display: 						none;
	}
	select, 
	input {
		@media (max-width: 959px) {
			width: 						100%;
		}
	}
}



/*--------------------------------------------------------------
# Page : Single card à valider par la direction
--------------------------------------------------------------*/

.single-card_dmo, 
.single-card_defi, 
.single-card_dahad, 
.single-card_dafhe, 
.single-card_dip, 
.single-card_satc, 
.single-card_icb, 
.single-card_ime, 
.single-card_champ_goubert, 
.single-card_impro_sessad, 
.single-card_dps {
	#primary {
		width: 							100%;
	}
	#acf-hidden-wp-editor, 
	.hide-if-value {
		display: 						none;
	}
	.button {
		float: 							right;
	}
	label {
		margin-bottom: 					10px;
	}
	.acf-field {
		margin-bottom: 					30px;
	}
	.ct-check-card {
		overflow: 						auto;
		label {
			color: 						#856404;
		}
		ul {
			list-style-type: 			none;
		}
	}
	.alert {
		overflow: 						auto;
	}
	.acf-radio-list li label input {
		margin-right: 					15px;
	}
}



/*--------------------------------------------------------------
# Page : Liste des cartes à valider
--------------------------------------------------------------*/

.page-template-control-dmo, 
.page-template-control-defi, 
.page-template-control-dip, 
.page-template-control-satc, 
.page-template-control-dafhe, 
.page-template-control-dahad, 
.page-template-control-icb, 
.page-template-control-ime, 
.page-template-control-cg, 
.page-template-control-impro-sessad, 
.page-template-control-dps {
	.alert {
		width: 							100%;
		text-align: 					center;
	}
	.ct-inner-sidebar ul {
		list-style-type: 				none;
		padding-left: 					0;
	}
}