/*--------------------------------------------------------------
# Page : Liste des chats
--------------------------------------------------------------*/

.single-channel {
	#primary {
		width: 								100%;
	}
	.btn {
		a, 
		a:hover, 
		a:active {
			color: 							white!important;
		}
	}
	.wcWindowTitle {
		display: 							none;
	}
	.wcContainer .wcMessages {
		background-color: 					white;
		border: 							none;
	}
	.wcContainer .wcMessages .wcMessage {
		border-top: 						none;
		padding: 							15px;
	}
	.wcContainer .wcMessages .wcMessage.wcCurrentUserMessage, {
		background-color: 					rgba(245, 242, 242, 0.42);
		padding: 							10px 25px 10px 25px;
	}
	.wcContainer {
		border: 							none;
		padding: 							10px;
		border-radius: 						16px;
		font-size: 							15px;
	}
	.ct-chat {
		background: 						none;
		box-shadow: 						none;
		.breadcrumb {
			margin-top: 					0;
		}
	}
	.ct-chat, .inner-chat {
		padding: 							0;
	}
	.wcContainer input[type="button"] {
		background-color: 					$orange;
		color: 								white;
		border: 							1px solid $orange;
	}
	.wcCustomizeButton {
		display: 							none!important;
	}
	.wcContainer .wcMessages .wcMessage .wcMessageUser, 
	.wcContainer .wcMessages .wcMessage .wcMessageContent, 
	.wcCurrentUserName, .wcInput, .wcSubmitButton {
		font-size: 							15px;
		font-family: 						'Raleway'!important;
	}
	.ct-channel {
		ul {
			list-style-type: 				none;
			padding-left: 					0;
			a {
				color: 						$orange;
			}
		}
	}
}




/*--------------------------------------------------------------
# Page : Single chat
--------------------------------------------------------------*/

.page-template-single-chat, .page-template-chat {
	.ch-row {
		display: 							flex;
		align-items: 						center;
		@media (max-width: 899px) {
			flex-direction: 				column;
		}
	}
	.ch-item:first-child {
		@media (max-width: 540px) {
			width: 							100%;
			height: 						auto;
		}
		margin-right: 						40px;
	}
	.ch-item {
		a.btn {
			margin-top: 					20px!important;
		}
	}
	.ct-channel, .left-col {
		ul {
			list-style-type: 				none;
			padding-left: 					0;
			a {
				color: 						$orange;
			}
		}
	}
	form, 
	form p {
		overflow: 							auto;
	}
	label {
		width: 								100%!important;
	}
}

/*--------------------------------------------------------------
# Page : Chat ask
--------------------------------------------------------------*/

.page-template-chat_ask {
	.btn{
		margin-top: 						20px;
	}
}