/*--------------------------------------------------------------
# Pages : 

		- Liste des ressources
		- Liste des documentations
		- Liste des PV
		- Liste des avantages/services
--------------------------------------------------------------*/

.page-template-list-ressources-documentation, 
.page-template-ressources,
.page-template-pv,
.page-template-list-syndicat,
.page-template-template-list-col-12, 
.page-template-avantages-services,
.tax-type_ress,
.tax-service,
.tax-format {
	.ct-container.ct-docs {
		padding: 							30px 60px 0 60px;
	}
	ul {
		list-style-type: 					none;
		padding-left: 						0;
	}
	.alert {
		width: 								100%;
		text-align: 						center;
	}
	.box-meta {
		.wp-post-image {
			border-top-left-radius: 		5px;
			border-bottom-left-radius: 		5px;
			object-fit: 					cover;
		    width: 							100%;
		    height: 						auto;
		}
		text-align: 						center;
		background: 						#fcf9f9;
		border-radius: 						5px;
		display: 							flex;
		align-items: 						center;
		flex-direction: 					row;
		margin-bottom: 						50px;
		/*justify-content: 					center;*/
		/*height: 							350px;*/
		/*border: 							0.5px solid #eeeeee;*/
		/*padding: 							30px;*/
		.meta-link {
			margin-top: 					15px;
/*			margin-left: 					10px;*/
			margin-right: 					10px;
		}
		.meta-txt {
			text-align: 					left;
			padding: 						40px;
		}
		.meta-description {
			margin-top: 					15px;
		}
		.meta-title {
			margin-bottom: 					0;
			a {
				color: 						$dark-grey;
			}
		}
		.meta-date {
			font-style: 					italic;
			font-size: 						12px;
			color: 							#b9b9b9;
			margin-top: 					10px;
		}
		.meta-img {
			width: 							60px;
			height: 						auto;
			margin-bottom: 					15px;
		}
		.box-meta-img{
			width: 							212px;
    		height: 						300px;
		}
	}
}