/*--------------------------------------------------------------
# Page : Liste évènements
--------------------------------------------------------------*/

.post-type-archive-tribe_events {
	.tribe-events-nav-pagination, 
	.tribe-events-event-image, 
	.tribe-events-ical {
		display: 								none!important;
	}
	.tribe-events-list-event-description {
		text-align: 							justify;
	}
	input.tribe-events-button.tribe-no-param.btn {
		border-radius: 							6px!important;
	}
	form#tribe-bar-form {
		border-radius: 							7px;
	}
	.tribe-bar-views-inner.tribe-clearfix {
		border-top-right-radius: 				7px;
		border-bottom-right-radius: 			7px;
		background: 							#eeeeee;
	}
	#tribe-bar-form label {
		color: 									#666666;
	}
	h2 {
		margin-bottom: 							15px;
	}
	.tribe-events-loop a {
		color: 									$orange;
	}
	.tribe-events-list-separator-month span {
		text-transform: 						uppercase;
	}
	.tribe-event-schedule-details, .time-details {
		color: 									$dark-grey!important;
		text-transform: 						uppercase;
	}
	.tribe-events-day-time-slot-heading {
		background-color: 						$orange!important;
		border-radius: 							7px;
	}
	.tribe-events-day .tribe-events-loop {
		margin: 								inherit;
		max-width: 								inherit;
	}
}




/*--------------------------------------------------------------
# Page : Single événements
--------------------------------------------------------------*/

.single-tribe_events {
	.tribe-events-event-image, 
	.tribe-events-cal-links {
		display: 								none;
	}
	.tribe-events-nav-pagination, 
	#tribe-events-footer {
		display: 								none;
	}
	.tribe-events-event-meta {
		border: 								1px solid #f6f6f6;
		border-radius: 							7px;
	}
	.type-tribe_events {
		h2 {
			color: 								$grey3;
			font-weight: 						800;
		}
		dt {
			color: 								$grey3;
		}
		a {
			color: 								$orange;
		}
	}
	.tribe-events-meta-group .tribe-events-single-section-title {
		margin: 								20px 0 20px;
	}
	.tribe-events-schedule {
		margin-top: 							0;
		background: 							none;
		padding: 								0;
		border: 								none;
		h2 {
			color: 								$orange;
			font-weight: 						300;
		}
	}
	span.tribe-events-cost {
		margin-left: 							15px;
		text-transform: 						uppercase;
		margin-top: 							15px!important;
		margin-bottom: 							15px!important;
	}
	.tribe-events-back {
		a {
			color: 								$grey3;
		}
	}
	.tribe-events-venue-map {
		border: 								inherit;
		margin: 								0;
		padding: 								0;
	}
	.tribe-events-single-section.tribe-events-event-meta.secondary.tribe-clearfix {
		position: 								relative;
	}
	.tribe-events-meta-group.tribe-events-meta-group-venue {
		position: 								absolute;
		top: 									50%;
		transform: 								translateY(-50%);
		h2 {
			margin-top: 						0;
		}
	}
}