/*--------------------------------------------------------------
# Page : liste des formations
--------------------------------------------------------------*/

.page-template-formations {
	/*Format mobile */
	/*		@media (max-width: 576px) { 
			tr td:first-child, th:first-child{
				display:none;
			}
		}*/
	.post-thumbnail {
		display: 							none;
	}
	#post-query-submit {
		padding: 							8px 16px;
		margin-top: 						-2px;
	}
	.subsubsub {
		margin-bottom: 						10px;
		float: 								left;
		width: 								50%;
	}
	.search-box {
		float: 								right;
		width: 								50%;
		text-align: 						right;
		input[type="submit"] {
			padding: 						6px 14px 6px 14px;
			margin-top: 					-2px;
		}
	}
	.add-new-h2, 
	.em-bookings-table-export, 
	.em-bookings-table-settings {
		display: 							none;
	}
	input#post-search-input {
		background-color: 					#f4f2f2;
		border-radius: 						8px;
		border: 							none;
		padding: 							6px 14px 6px 14px;
	}
	.alignleft.actions {
		margin-top: 						20px;
	}
	.em-bookings-recent {
		margin-bottom: 						30px;
	}
	th {
		color: 								$dark-grey;
	}
	form#posts-filter td {
		width: 								25%;
	}
	.alternate {
		td:first-child {
			width: 							65%;
		}
	}
	.event.alternate {
		td, td:first-child {
			width: 							25%!important;
		}
	}
	#post-query-submit {
		margin-left: 						10px;
	}
	.em-warning {
		margin-bottom: 						30px!important;
	}
	.btn {
		color: 								white;
	}
	.notice-success, 
	.eem-booking-message-success .em-booking-message {
		color: 								#52775a!important;
	}
	#dbem-bookings-table {
		.pending {
			background: 					#fcbb44;
			display: 						inline-block;
			padding: 						4px 15px 4px 15px;
			border-radius: 					10px;
			color: 							white;
			font-size: 						14px;
			margin-right: 					10px;
		}
		th.manage-column {
			padding-right: 					12px;
		}
	}
	.approved {
		background: 						#69cd69;
		display: 							inline-block;
		padding: 							4px 15px 4px 15px;
		margin-right: 						10px;
		border-radius: 						10px;
		color: 								white;
		font-size: 							14px;
	}
	.rejected {
		background: 						#ff7070;
		display: 							inline-block;
		padding: 							4px 15px 4px 15px;
		margin-right: 						10px;
		border-radius: 						10px;
		color: 								white;
		font-size: 							14px;
	}
	#dbem-bookings-table {
		color: 								$dark-grey;
	}
	.em-event-admin-editor {
		.event-form-name {
			i {
				display: 					none;
			}
		}
		.em-tickets-row td {
			width: 							20%;
		}
		.em-ticket-form label {
			width: 							50%!important;
		}
		.button-primary {
			float: 							right;
		}
		input {
			margin-bottom: 					15px;
		}
		#em-tickets-form input {
			width: 							50%!important;
			float: 							right;
		}
		#em-osm-map {
			width: 							100%!important;
		}
		.em-location-data {
			width: 							100%!important;
		}
		input[type=text], 
		#location-name {
			padding: 						15px 15px 15px 15px !important;
		}
		.event-form-where input {
			width: 							100%!important;
		}
		.em-date-start, 
		.em-date-end, 
		#start-time, 
		#end-time {
			width: 							auto;
		}
		.em-timezone {
			display: 						none;
		}
		#start-time {
			margin-right: 					5px;
			margin-left: 					5px;
		}
		.em-date-start {
			margin-left: 					5px;
		}
		#end-time {
			margin-left: 					5px;
		}
		#event-name {
			width: 							100%!important;
		}
		.inside {
			margin-bottom: 					40px!important;
		}
		span.em-event-text {
			margin-bottom: 					10px;
			display: 						inline-block;
		}
		th {
			color: 							$dark-grey;
		}
	}
	h3 {
		transition: 						none!important;
		font-size: 							18px;
		color: 								$dark-grey;
		text-transform: 					uppercase;
		margin-bottom: 						.5rem;
		&:hover {
			color: 							$dark-grey!important;
		}
	}
	input {
		outline: 							none;
	}
	.entry-header {
		display: 							none;
	}
	#primary {
		width: 								100%;
	}
	td {
		width: 								50%;
		a {
			font-weight: 					700;
		}
	}
	table {
		border-collapse: 					separate!important;
		border-spacing: 					0 25px!important;
	}
	table.events-table {
		width: 								100%;
		td {
			padding-right: 					10px;
		}
	}
	.more-info {
		font-style: 						italic;
		color: 								grey;
		font-size: 							12px;
	}
	.css-search {
		background: 						$grey;
		border: 							none;
		border-radius: 						10px;
		input {
			background: 					$grey;
		}
		form {
			padding: 						10px;
		}
		input::placeholder {
			color: 							$dark-grey!important;
		}
	}
	.em-search-submit {
		background: 						none!important;
		background-color: 					$orange!important;
		border: 							none!important;
		transition: 						background-color 0.2s;
		margin-top: 						8px;
		margin-right: 						8px;
		&:hover {
			background-color: 				$dark-orange!important;
		}
	}
	span.show-advanced {
		margin-top: 						14px!important;
	}
	.em-date-start, 
	.em-date-end {
		border-radius: 						10px;
		border: 							solid 1px #d9d9d9;
	}
	.em-date-start {
		margin-right: 						5px;
	}
	.em-date-end {
		margin-left: 						5px;
	}
	.event-time, 
	.event-description {
		color: 								$dark-grey;
	}
	div.css-search div.em-search-geo {
		background: 						url(../img/placeholder.png) 0px 3px no-repeat!important;
	}
	div.css-search div.em-search-text {
		background: 						url(../img/search.png) 0px 4px no-repeat!important;
	}
	ul {
		list-style-type: 					none;
		padding: 							0;
		margin-bottom: 						0;
	}
	li {
		margin-bottom: 						0;
	}
}



/*--------------------------------------------------------------
# Page : Single formation
--------------------------------------------------------------*/

.single-event, 
.single-location {
	ul.subpages {
		list-style-type: 					none;
		padding: 							0;
		margin-bottom: 						0;
		a {
			color: 							$orange;
		}
	}
	/*	li{
		margin-bottom: 5px;
	}*/
	#primary {
		width: 								100%;
	}
	select {
		outline: 							none;
	}
	h3, strong {
		font-size: 							18px;
		color: 								$dark-grey;
		text-transform: 					uppercase;
		margin-bottom: 						.5rem;
	}
	textarea {
		padding: 							15px 30px 15px 30px;
		background: 						$grey;
		border-radius: 						10px;
		border: 							0;
		width: 								100%;
		outline: 							none;
	}
	.em-booking-form-details {
		width: 								100%;
	}
	.entry-content {
		.btn {
			float: 							right;
		}
		ul {
			margin-bottom: 					40px;
		}
		a {
			color: 							$orange;
		}
	}
	.em-booking {
		margin: 							0;
	}
	#em-osm-map {
		width: 								100%!important;
	}
	.entry-content {
		div:first-child {
			float: 							inherit!important;
		}
	}
}
.single-location {
	a {
		font-weight: 						700;
	}
}
a.em-button {
	background: 							$orange;
}