/*--------------------------------------------------------------
# Page : Soumettre un album
--------------------------------------------------------------*/

.page-template-submit-album {
	.entry-header {
		display: 						none;
	}
	.ct-shortcuts {
		ul {
			padding-left: 				0;
			list-style-type: 			none;
		}
	}
	#primary {
		width: 							100%;
	}
	.acf-input-wrap {
		width: 							100%;
	}
	.acf-form-submit .btn {
		float: 							right;
	}
	.acf-fields>.acf-field {
		border-top: 					none;
		.description {
			display: 					inline-block;
		}
	}
	.acf-field {
		label {
			margin: 					0 0 10px!important;
		}
	}
	.btn {
		margin-top: 					13px;
	}
}





/*--------------------------------------------------------------
# Page : Liste des albums
--------------------------------------------------------------*/

.page-template-list-gallery, 
.page-template-list-videos, 
.archive.tax-ets, 
.page-template-control-dmo, 
.page-template-control-defi, 
.page-template-control-dip, 
.page-template-control-satc, 
.page-template-control-dafhe, 
.page-template-control-dahad, 
.page-template-control-icb, 
.page-template-control-ime, 
.page-template-control-cg, 
.page-template-control-dps, 
.page-template-control-impro-sessad {
	#content {
		h2 {
			margin-bottom: 				3px;
		}
		.ct-gallery {
			.ct-title {
				margin-bottom: 			0!important;
			}
		}
		article {
			height: 					330px;
			padding: 					0;
			margin-bottom: 				40px;
			box-shadow: 				0 2px 4px 0 rgba(0, 0, 0, 0.12);
			border-radius: 				10px;
			transition: 				transform 0.3s;
			img {
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				object-fit: 			cover;
				width: 					100%;
				height: 				100%;
			}
			&:hover {
				transform: 				scale(1.05);
			}
		}
		.box-meta {
			display: 					flex;
			height: 					130px;
			justify-content: 			center;
			flex-direction: 			column;
			padding-left: 				20px;
			flex-direction: 			column;
		}
	}
	.ct-inner-sidebar {
		.btn {
			width: 						100%;
			margin-top: 				15px;
		}
	}
	.ct-inner-img {
		height: 						200px;
		width: 							100%;
	}
}



/*--------------------------------------------------------------
# Modal : affichage photos
--------------------------------------------------------------*/

.jp-carousel-titleanddesc-title {
	font-family: 						'Raleway', sans-serif!important;
}



/*--------------------------------------------------------------
# Page : liste galerie
--------------------------------------------------------------*/

.gallery-template-default {
	.post-navigation {
		display: 						none;
	}
	.site-main, 
	.type-gallery, 
	.entry-content, 
	.gallery {
		overflow: 						auto;
	}
	img {
		@include 						zoom-on-hover;
	}
	.ct-container {
		.btn {
			width: 						100%;
			margin-top: 				30px;
		}
	}
	.ct-gallery .ct-title {
		padding-bottom: 				15px;
		margin-bottom: 					5px !important;
	}
	#primary {
		width: 							100%;
		img {
			border-radius: 				15px;
		}
	}
	li {
		list-style-type: 				none;
	}
	ul {
		padding: 						0;
		margin-top: 					10px;
	}
}
.gallery {
	margin: 							0 auto 18px;
}
.gallery .gallery-item {
	float: 								left;
	margin-top: 						0;
	text-align: 						center;
}
.gallery-columns-2 
.gallery-item {
	width: 								50%;
}
.gallery-columns-4 .gallery-item {
	width: 								25%;
}
.gallery img {
	padding: 							8px;
}
.gallery img:hover {
	background: 						white;
}
.gallery-columns-2 .attachment-medium {
	max-width: 							92%;
	height: 							auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 							84%;
	height: 							auto;
}
.gallery .gallery-caption {
	color: 								#888;
	font-size: 							12px;
	margin: 							0 0 12px;
}
.gallery dl, .gallery dt {
	margin: 							0;
}
.gallery br+br {
	display: 							none;
}
.slb_content img:hover {
	transform: 							none;
}