/*--------------------------------------------------------------
# Accueil
--------------------------------------------------------------*/

.ct-container {
	background: 			white;
	padding: 				30px 60px 50px 60px;
	@media (max-width: 720px) {
		padding: 			30px 20px 30px 20px;
		.row {
			padding-left: 	0;
			padding-right: 	0;
		}
	}
	margin-bottom: 			20px;
	border-radius: 			16px;
	box-shadow: 			0px -13px 158.86px 10.14px rgba(0, 0, 0, 0.05);
}
.ct-container-xs {
	@media (max-width: 790px) {
		padding: 			50px 40px 50px 40px;
	}
}
.ct-box {
	background: 			$grey2;
	border-radius: 			16px;
	height: 				140px;
	text-align: 			right;
	display: 				flex;
	align-items: 			center;
	justify-content: 		flex-end;
	h3 {
		font-size: 			18px;
		color: 				$dark-grey;
	}
}
.ct-access {
	a {
		text-decoration: 	none;
		@include 			zoom-on-hover;
	}
}
.ct-agenda {
	.ect-list-post {
		display: 			flex;
		align-items: 		center;
		justify-content: 	center;
	}
	.ect-list-date {
		display: 			inline-block!important;
		width: 				30%;
	}
	.ect-clslist-event-info {
		width: 				70%!important;
	}
	@media (max-width: 576px) {
		.ect-list-post {
			flex-direction: column;
		}
		.ect-list-date {
			width: 			100%!important;
		}
		.ect-list-date .ect-date-area {
			display: 		inherit!important;
			.ev-day, .ev-mo, .ev-yr {
				display: 	inline;
			}
		}
	}
	@media (max-width: 790px) {
		.ect-list-date {
			display: 		inline-block!important;
			width: 			30%;
		}
		.ect-list-date .ect-date-area {
			.ev-day, .ev-mo, .ev-yr {
				width: 		100%;
				top: 		inherit;
				float: 		inherit;
				margin-left:inherit;
			}
		}
	}
}
.box-annuaire, .box-chat {
	margin-top: 30px;
}
.ct-news {
	a {
		position: 			relative;
	}
	img {
		@include 			shadow-infoacsea;
		@include 			zoom-on-hover;
		opacity: 			0.3;
		transition: 		opacity 0.5s, transform 0.3s;
		;
		&:hover {
			opacity: 		1;
		}
	}
	article {
		text-align: 		center;
	}
	@media (max-width: 767px) {
		article:first-child {
			margin-bottom: 	40px;
		}
	}
	@media (min-width:1831px) {
		article {
			flex: 			0 0 33%!important;
			max-width: 		33%!important;
		}
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		article {
			flex: 			0 0 33%!important;
			max-width: 		33%!important;
		}
	}
	@media (max-width: 991px) {
		.art-3 {
			display: 		none;
		}
	}
	@media (min-width: 1200px) and (max-width: 1830px) {
		.art-3 {
			display: 		none;
		}
	}
	.is_recent {
		display: 			none;
	}
	.recent {
		.is_recent {
			text-transform: uppercase;
			display: 		block;
			position: 		absolute;
			top: 			-125px;
			left: 			-20px;
			background-color: #f5f2f2de!important;
			color: 			#b4b4b4!important;
			z-index: 		9999;
		}
	}
}
.ct-lastactu {
	.lastactu-item {
		padding-left: 		0;
		padding-right: 		0;
		div:first-child {
			padding-left: 	0;
		}
		img {
			width: 			100%;
			height: 		auto;			
		}
		.btn {
			margin-top: 	2px;
		}
		a:hover{
			text-decoration: none!important;
		}
	}
}
.ct-title {
	margin-bottom: 			30px!important;
	border-bottom: 			solid 2px rgba(128, 128, 128, 0.03);
	padding-bottom: 		15px;
	width: 					100%;
}
.box {
	background-repeat: 		no-repeat;
	background-position: 	bottom left;
	background-size: 		auto 90%;
}
.box-chat {
	background-image: 		url(../img/chat-box.png);
}
.box-octime {
	background-size: 		60%;
	background-image: 		url(../img/octime-box.png);
	background-position: 	center left;
	@media (max-width: 1199px) {
		margin-top: 		30px;
	}
}
.box-cce {
	background-image: 		url(../img/cce-box.png);
}
.box-annuaire {
	background-image: 		url(../img/annuaire-box.png);
}
.home {
	.search-form {
		display: 			flex;
		align-items: 		center;
		justify-content: 	center;
		margin-bottom: 		0;
		label {
			width: 			88%;
			margin-bottom: 	inherit;
		}
	}
	.search-submit {
		padding: 			15px 30px 15px 30px;
	}
	.art-1 {
		img {
			opacity: 		1;
		}
	}
}
.content {
	margin-top: 			-60px;
	max-width: 				2500px;
}
#page {
	width: 					auto;
	float: 					right;
	width: 					calc(100% - 80px);
	/*Mobile*/
	@media (max-width: 576px) {
		width: 				100%;
	}
}
.hidder, .hidder2 {
	display: 				none;
	position: 				absolute;
	z-index: 				300;
	top: 					0;
	bottom: 				0;
	left: 					0;
	right: 					0;
	background-color: 		rgba(0, 0, 0, 0.65);
}
.pusher {
	transform: 				translateX(0);
	transition-duration: 	0.4s;
	height: 				100%;
}
.lastactu-item img{
	border-radius: 12px;
}
video{
	outline: 				none;
}