/*--------------------------------------------------------------
# Single page info ACSEA
--------------------------------------------------------------*/

.single-info_acsea {
	background-color: 						#c1c1c1;
	.content {
		margin-top: 						0;
	}
	h1 {
		display: 							none;
	}
	.ct-container {
		background: 						none;
		box-shadow: 						none;
		padding-top: 						0;
	}
	.btn {
		position: 							absolute;
		top: 								20px;
		right: 								0;
	}
}



/*--------------------------------------------------------------
# Page listant les info ACSEA
--------------------------------------------------------------*/

.page-template-list-infoacsea {
	article {
		@media (max-width: 603px) {
			margin: 						0 auto;
			margin-bottom: 					40px;
		}
		img {
			object-fit: 					cover;
			height: 						auto;
			width: 							100%;
			@include 						shadow-infoacsea;
		}
	}
	.infoacsea-article {
		padding: 							0;
		border: 							none;
		padding: 							20px;
		@media (max-width: 575px) {
			padding: 						10px;
		}
	}
	.list-infoacsea {
		@media (max-width: 575px) {
			width: 							60%;
			margin: 						0 auto;
		}
	}
	.list-infoacsea::after {
		content: 							"";
		flex: 								auto;
	}
}