/*--------------------------------------------------------------
# Page de connexion
--------------------------------------------------------------*/

.page-template-login {
	#connectReinit{
		display: 							none;
	}
	input[type=submit] {
		padding: 							13px;
		color: 								white;
		border: 							0;
	}
	h1 {
		font-size: 							20px;
		margin-top: 						25px;
		margin-bottom: 						0;
	}
	a {
		color: 								white;
		text-decoration: 					none;
	}
	background: 							url(../img/background.jpg);
	background-size: 						cover;
	background-position: 					center;
	height: 								100vh;
	.content {
		margin-top: 						0px;
	}
	.ct-login {
		@media (max-width: 1199px) {
			margin-top: 					50px;
			margin-bottom: 					50px;
		}
		@media (max-width: 575px) {
			margin-top: 					20px;
			margin-bottom: 					20px;
		}
		margin-bottom: 						0;
		padding: 							0;
		box-shadow: 						0px -13px 158.86px 10.14px rgba(0, 0, 0, 0.12);
	}
	.ct-disclaimer {
		@media (max-width: 1199px) {
			background-position: 			center;
			border-top-left-radius: 		15px;
			border-top-right-radius: 		15px;
			border-bottom-left-radius: 		0;
		}
		padding: 							80px;
		background: 						url(../img/background.jpg);
		background-size: 					cover;
		background-position: 				-550px center;
		background-repeat: 					no-repeat;
		border-top-left-radius: 			15px;
		border-bottom-left-radius: 			15px;
		color: 								white;
		text-align: 						center;
		display: 							flex;
		flex-direction: 					column;
		justify-content: 					center;
		li {
			text-transform: 				uppercase;
			font-size: 						12px;
			font-weight: 					800;
		}
		p {
			margin: 						20px 0 20px 0;
		}
		ul {
			padding: 						0;
			margin-bottom: 					5px;
			list-style-type: 				none;
		}
		li {
			margin: 						5px 0 5px 0;
		}
	}
	.ct-form-connect {
		@media (max-width: 1199px) {
			padding: 						80px 130px 80px 130px;
		}
		@media (max-width: 767px) {
			padding: 						60px 60px 60px 60px;
		}
		padding: 							130px;
	}
	.login-logo {
		width: 								120px;
		margin: 							0 auto;
	}
	#rememberme {
		margin-right: 						10px;
	}
	.stayconnected {
		text-align: 						center;
		font-weight: 						300;
		margin-bottom: 						30px;
	}
	#wppb_form_success_message, 
	.wppb-success {
		background-color: 					#d4edda;
	}
	.alert{
		padding: 							.75rem 1.25rem;
	}
}
.page-template-login, html {
	height: 								100%;
}