/*--------------------------------------------------------------
# Mouvements du personnel
--------------------------------------------------------------*/

.ct-mvmts {
	.ct-archives {
		ul {
			list-style-type: 		none;
			padding-left: 			0;
			a {
				color: 				$orange;
			}
		}
	}
	h3 {
		margin-top: 				50px;
		margin-bottom: 				15px;
	}
	ul {
		margin-bottom: 				15px;
	}
	.spoiler-head {
		background: 				#f8f8f8;
		border: 					none;
		border-radius: 				7px;
		color: 						#838383;
	}
}