/*--------------------------------------------------------------
# Offre d'emplois : page liste
--------------------------------------------------------------*/

.page-template-list-offres-emploi {
	.offer-meta {
		background-color: 				#fafafa;
		padding: 						20px;
		border-radius: 					10px;
		li {
			margin-bottom: 				5px;
		}
		b {
			color: 					#6e6e6e;
		}
	}
	.alert {
		text-align: 				center;
		width: 						100%;
		display: 					inline-block;
	}
	.ct-offer {
		img {
			display: 				none;
		}
	}
	.one-offer {
		@media (max-width: 1199px) {
			display: 				flex;
			margin-bottom: 			110px;
			flex-direction: 		column-reverse;
			.box-meta {
				margin-bottom: 		30px;
			}
		}
	}
	.offer-infos {
		padding-left: 				40px;
		a {
			color: 					$orange!important;
		}
	}
	.offer-link {
		position: 					absolute;
		bottom: 					-10px;
		left: 						50%;
		transform: 					translateX(-50%);
		a {
			color: 					white!important;
		}
	}
	.box-meta {
		@media (min-width: 1200px) {
			position: 				absolute;
			top: 					50%;
			transform: 				translateY(-50%);
		}
		h2{
			display: 				none;
		}
	}
}




/*--------------------------------------------------------------
# Offres d'emplois : page single
--------------------------------------------------------------*/

.single-offre_emploi {
	h2{
		margin-top: 				50px;
		margin-bottom: 				15px;
		&:first-child{
			margin-top: 			0;
		}
	}
	ul {
		list-style-type: 			none;
		padding: 					0;
	}
	.site-main{
		li {
			list-style-type:		disc;
		}
		ul {
			padding-left:			20px;
		}
	}
	.ct-more-info {
		.btn {
			width: 					100%;
			padding: 				10px;
			margin-bottom: 			20px;
		}
	}
	.ct-postulate {
		margin-top: 				50px;
	}
	#print:hover {
		cursor: 					pointer;
	}
	#etsName, #title-oe {
		display: 					none;
	}
	.form-off {
		visibility: 				hidden;
	}
	.offer-edit-box {
		.acf-form-submit {
			display: 				block!important;
			float: 					right;
		}
	}
	#acf-form {
		overflow: 					auto;
	}
	.offer-edit-box {
		display: 					none;
	}
	.form-on {
		visibility: 				visible;
	}
	.acf-input-wrap {
		overflow: 					inherit;
	}
	.acf-field .acf-label {
		overflow: 					auto;
	}
	.acf-fields>.acf-field {
		margin-bottom: 				30px;
	}
	.btn-secondary {
		float: 						right;
		margin-right: 				10px;
	}
}