/*--------------------------------------------------------------
# Print CSS reset
--------------------------------------------------------------*/

@media print {
	.hd-menu, .ct-postulate, .btn {
		display: 		none;
	}
	#content {
		width: 			100%;
	}
}