/*--------------------------------------------------------------
# Profil
--------------------------------------------------------------*/

.page-template-account {
	.ct-shortcuts {
		li {
			list-style-type: 			none;
		}
		.btn {
			padding: 					10px 20px 10px 20px;
			color: 						$dark-grey!important;
		}
		#wpua-remove-button-existing, 
		#wpua-undo-existing, 
		#wpua-thumbnail-existing {
			display: 					none;
		}
		#wpua-preview-existing {
			display: 					block;
			width: 						170px;
			height: 					170px;
			margin: 					0 auto;
			margin-top: 				30px;
			margin-bottom: 				30px;
			img {
				border: 				0;
				margin: 				0 auto;
				max-height: 			inherit;
				object-fit: 			cover;
				width: 					inherit;
				border-radius: 			150px;
				height: 				100%;
			}
			.description {
				display: 				none;
			}
			.ct-avatar {}
		}
		#wpua-remove-button-existing, 
		#wpua-remove-button-existing button, 
		#wpua-undo-existing, #wpua-undo-existing button, 
		#wpua-add-button-existing button {
			background: 				$grey;
			background-color: 			$grey!important;
			border-radius: 				6px;
		}
		[type=submit] {
			width: 						100%;
		}
	}
	#primary {
		width: 							100%;
	}
	.entry-header, 
	.wppb-default-username {
		display: 						none;
	}
	.ct-title {
		margin-bottom: 					0!important;
	}
	[type=text], 
	[type=password], 
	[type=email] {
		padding: 						12px 30px 12px 30px!important;
	}
	.wppb-form-field {
		input, input[type="text"], 
		input[type=password], 
		input[type=email], 
		label {
			width: 						100%;
		}
		label {
			margin-bottom: 				13px;
		}
		label[for=edit_user], 
		.selection {
			display: 					none;
		}
	}
	.post-thumbnail img {
		display: 						none;
	}
	.wppb-user-forms ul li {
		padding-bottom: 				25px;
	}
	.wppb-user-forms ul {
		max-width: 						none;
	}
	.wppb-description-delimiter {
		margin-left: 					0;
		font-weight: 					400;
		padding-top: 					10px;
	}
	.wppb-default-name-heading, 
	.wppb-default-contact-info-heading {
		padding-bottom: 				0!important;
	}
	h4 {
		column-span: 					all;
	}
	h4:nth-child(2n) {
		margin-top: 					10px;
	}
	#wppb-form-element-4 {
		margin-bottom: 					40px;
	}
	img {
		margin-bottom: 					10px;
	}
	input#edit_profile {
		float: 							right;
		@media (max-width: 959px) {
			width: 						100%;
		}
	}
	input#wpua-file-existing {
		margin-bottom: 					20px;
		width: 100%;
	}
	p#wpua-upload-messages-existing {
		font-size: 						12px;
		span {
			display: 					block;
		}
	}
}