/*--------------------------------------------------------------
# Page syndidat
--------------------------------------------------------------*/

.page-template-list-syndicat {
	.box-meta {
		justify-content: 		center;
		height: 				300px;
	}
	.meta-txt {
		text-align: 			center!important;
	}
	.syndicat-cfdt {
		.sud, .cgt {
			display: 			none;
		}
	}
	.syndicat-cgt {
		.sud, .cfdt {
			display: 			none;
		}
	}
	.syndicat-sud {
		.cfdt, .cgt {
			display: 			none;
		}
	}
}