/*--------------------------------------------------------------
# DEBUG
--------------------------------------------------------------*/

html,body,.pusher{
	overflow: auto;
}

html.sidebar-enabled{
	overflow-y: hidden;
}

.scrollable-table{
	overflow-x: auto;
}