/*--------------------------------------------------------------
# Balises HTML
--------------------------------------------------------------*/

body{
	font-family: 		'Raleway', sans-serif;
	background-color: 	$grey;
  height: 100%;
  min-width: 460px;
  @media (max-width:320px){
  height: auto;
  }
}
body.nav-need-help{
  overflow-y: hidden;
  .pusher{
    overflow: hidden;
  }
}
header{
	text-transform: 	uppercase;
}

/*H*/
h1, h2, .h2, h3{
	text-transform: 	uppercase!important;
}
h1,h2,.h2{
	font-weight: 		800!important;
}
h2, .h2{
	color: 				$dark-orange!important;
	font-size: 			24px;
}
h3{
	font-weight: 		700;
}
  h3{
    transition: none!important;
    font-size:  18px;
    color:    $dark-grey;
    text-transform: uppercase;
      margin-bottom: .5rem;
    &:hover{
      color: $dark-grey!important;
    } 
  }
h4, .h4{
	font-weight: 800;
    text-transform: uppercase;
    font-size: 19px;
    color: #7d7c7c;
}

/*--------------------------------------------------------------
# WP Modal
--------------------------------------------------------------*/

.media-modal{
	outline: none!important;
}
.media-modal-content {

    border-radius: 15px!important;
    outline: none!important;
    a,h1{
    	color: $dark-grey!important;
    }
}
.media-modal-content{
	top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
    width: 80%!important;
    height: 80%!important;
    outline: none!important;
	box-shadow: -1px 2px 20px 8px rgba(0, 0, 0, 0)!important;
}
.media-frame{
	font-family: 'Raleway', sans-serif!important;
}
.media-sidebar{
	background-color: white!important;
}
.media-frame-router {
    font-weight: 700!important;
}
.media-toolbar{
	margin-top: 20px!important;
}
input#media-search-input {
    border-radius: 12px!important;
}
.media-toolbar-primary>.media-button{
    margin-left: 10px!important;
    float: right!important;
    margin-top: 15px!important;
    box-shadow: none!important;
    border: none!important;
    text-shadow: none!important;
    outline: none!important;
    background: $orange!important;
}
.media-frame-toolbar .media-toolbar {
	border-top: none!important;
	background-color: white!important;
}
.attachment-filters{
	display: none!important;
}
.attachment-details{
	font-weight: 600!important;
}

/*--------------------------------------------------------------
# Color
--------------------------------------------------------------*/
a.protection-enfance-famille, .pef {
  color: $pef;
}
a.prevention-et-lutte-contre-les-exclusions, .plce {
  color: $plce;
}
a.handicap-autonomie-dependance, .had {
  color: $had;
}
a.tag-sante, a.sante {
  color: $sante;
}
.orange{
  color: $orange;
}
/*--------------------------------------------------------------
# Font style
--------------------------------------------------------------*/

b{
  color: $dark-grey;
}

.bold{
  font-weight: 600;
}
h2.upload-instructions.drop-instructions {
    font-weight: 700!important;
}
.i{
   display: inline-block;
   font-size: 13px;
   font-style: italic;
}


/*--------------------------------------------------------------
# Padding et margin
--------------------------------------------------------------*/

.padding10-20{
  padding: 10px 20px 10px 20px!important;
}
.res-padding30-35{
      @media (max-width: 830px) { 
          padding: 30px 35px 30px 35px!important;
      }
  
}
.margin-bt-0{
  margin-bottom:0!important;
}
.no-padding{
  padding: 0!important;
}
.no-mt{
  margin-top: 0!important;
}
.eq-padding{
  padding: 30px 60px 30px 60px!important;
}
.mt-10{
  margin-top: 10px;
}

/*--------------------------------------------------------------
# Display
--------------------------------------------------------------*/

.display-none{
  display: none!important;
}

/*--------------------------------------------------------------
# Link
--------------------------------------------------------------*/

a{
  text-decoration:  none;
}

/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/

.row-seprater{
  margin-bottom: 70px;
}
.width-100{
  width: 100%!important;
}

/*--------------------------------------------------------------
# Breadcrumb
--------------------------------------------------------------*/

.breadcrumb{
  margin-top: 20px;
  background-color: #fcf9f9;
  width: 100%;

  a{
    color: $orange;
  }

  .seprater{
    margin: 0 10px;
    color: grey;
    }

}

/*--------------------------------------------------------------
# Fix
--------------------------------------------------------------*/

/*Conditionnal field for WPCF7*/
#group-137{
  overflow: auto;
}

/*Infinite footer*/
#infinite-footer{
  display: none;
}